<ngx-notifications [notification]="notification"></ngx-notifications>
<div class="row" *ngIf="showExamForm1">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Class</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="getForm1()" #detailsForm1="ngForm">
            <div *ngIf="teacher" class="form-group" >
              <label>Select class</label>
              <select class="form-control" name="role" [(ngModel)]="teacherRole" required>
                <option *ngFor="let role of teacher.roles" [ngValue]="role">{{role.class}} {{role.subject}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row" *ngIf="showExamForm2">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Exam</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="getForm2()" #detailsForm2="ngForm">
            <div  *ngIf="teacher" class="form-group">
              <label>Select Exam</label>
              <select *ngIf="formExams" class="form-control" name="exam" [(ngModel)]="selectedFormExam" required>
                <option *ngFor="let exam of formExams" [ngValue]="exam">{{exam.exam_name}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>
